<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Spotify Music Fingerprint</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Spotify Music Fingerprint
      </h1>
    </header>

    <main>
      <button id="sign-in-button">
        Sign in
      </button>
      <section class="features">
        <ul id="results">
        </ul>
        <p id="features">
        </p>
        <canvas id="features-chart" width="400" height="200"></canvas>
      </section>
      <h2>
        Key
      </h2>
      <p>
        Acousticness: is the track acoustic?<br/>
        Danceability: how suitable for dancing?<br/>
        Energy: perceptual measure of intensity and activity (Bach vs Death Metal)<br/>
        Instrumentalness: does the track contain any vocals? (instrumental above .5)<br/>
        Liveness: is the audience in the recording?<br/>
        Speechiness: are there spoken words? (audiobook)<br/>
        Valence: higher valence = more positive track <br/>
      </p>
    </main>

    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
