/* styles */
/* called by your view template */

#results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#results li {
  color: skyblue;
  text-decoration: underline;
  cursor: pointer;
}
